* {
  margin: 0;
  text-align: center;
  font-weight: bold;
}
img {
  width: 5%;
  height: auto;
}
a {
  text-decoration: none;
  color: white;
}

:root {
  --cp: rgba(128, 20, 20, 0.473);
}
#header {
  background-color: var(--cp);
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
#me {
  padding: 25px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}
#mother-box {
  background-color: rgb(240, 240, 240);
  padding: 25px;
  margin: 20px;
  border: solid 1px black;
  border-radius: 5px;
  flex-direction: row;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.studybox {
  background-color: var(--cp);
  border: 1px solid black;
  border-radius: 10px;
  padding: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
